* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: #fff;
}

/* NAVBAR */
.navbar {
    background: rgba(15, 23, 42, 0.9);
    backdrop-filter: blur(10px);
}

.navbar .nav-link {
    color: #ccc !important;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #38bdf8 !important;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
}

.hero h1 span {
    color: #38bdf8;
}

.hero h2 {
    margin-top: 10px;
    font-weight: 300;
    color: #94a3b8;
}

.hero p {
    margin: 20px auto;
    max-width: 600px;
    color: #cbd5f5;
}

/* BOTÓN */
.btn-custom {
    background: #38bdf8;
    color: #000;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-custom:hover {
    background: #0ea5e9;
    transform: scale(1.05);
}


/*PORTAFOLIO*/
.portafolio {
    background: #0f172a;
    color: white;
}

.card-custom {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card-custom h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.card-custom p {
    color: #cbd5e1;
}

/* EFECTO RESALTAR AL PASAR EL MAUSE  */
.card-custom:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px rgba(56,189,248,0.2);
}






.contacto {
    text-align: center;
    color: white;
}

.contact-card {
    max-width: 500px;
    margin: auto;
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* BOTÓN CORREO */
.btn-contacto {
    display: inline-block;
    margin: 10px 0 20px;
    background: #38bdf8;
    color: #000;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-contacto:hover {
    background: #0ea5e9;
    transform: scale(1.05);
}

/* BOTÓN WHATSAPP */
.btn-whatsapp {
    display: inline-block;
    margin-top: 15px;
    background: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-whatsapp:hover {
    background: #1ebe5d;
    transform: scale(1.05);
}



/****FOTO DE PERFIL******/

.foto-perfil {
    width: 260px;
    height: 260px;
    object-fit: cover;
    object-position: 20% 80%;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.foto-perfil:hover {
    transform: scale(1.05);
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.fot19 {
    color: #38bdf8;
}
